@model IEnumerable<ShinyShop.Models.NFT>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align: center;">Market</h2><hr />

@if (User.IsInRole("admin"))
{
    <form asp-action="UploadImage" asp-controller="NFT" method="post" enctype="multipart/form-data">
        <input class="btn btn-info" type="file" id="file1" name="file1" multiple="multiple" accept=".png" />
        <button class="btn btn-info" type="submit">Upload file(s)</button>
    </form>
    <h1>@ViewBag.Message</h1>
}

<div class="row">
    @foreach (var data in Model)
    {
        <div class="column" style="float: left; width: 20%; margin-bottom: 30px; text-align: center;">
            <img src="@data.ImageData" style="width: 80%; padding: 2px; border: 5px solid #000;"/><br />
            <div style="text-align: center; padding: 5px;">
                <a class="btn btn-primary" asp-action="Details" asp-controller="NFT" asp-route-id="@data.Id" style="font-size: 15px;">@data.ImageName | @data.Id</a>
            </div>
        </div>
    }
</div>


